.myContainer {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 5rem 15px;
}
.claim {
    font-size: clamp(2.2rem, 4vw, 3.5rem) !important;
    margin-bottom: 3rem !important;
    text-shadow: 0 5px 8px white;
    color: rgb(46, 48, 39) !important;
}
.heroBtn {
    font-size: 1.2rem;
    padding: 28px 40px;
    border-radius: 40px;
}
.heroImg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroImg img {
    width: 100%;
    max-width: 500px;
    padding: 8px;
}
@media (max-width: 768px) {
   .heroA {
        margin-bottom: 5rem;
    }
} 