.myContainer {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 5rem 15px;
}
.ant-typography h2 {
  color: #222;
  font-weight: 700;
}
.imgAbout {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.aboutBtn {
    font-size: 1.2rem;
    padding: 28px 40px;
    border-radius: 40px;
    background-color: orange !important;
    border-color: orange !important;
    color: white !important;
    
}
.aboutBtn:hover,
.aboutBtn:focus {
  background-color: #f38d07 !important;
  border-color: #f38d07 !important;
  color: white !important;
}