.myContainer {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 5rem 15px;
}
.ant-typography h2 {
  color: #222;
  font-weight: 700;
}
.formBtn {
    font-size: 1.2rem;
    padding: 28px 40px;
    border-radius: 40px;
    background-color: #5c7246 !important;
    border-color: #5c7246 !important;
    color: white !important;
    
}
.formBtn:hover,
.formBtn:focus {
  background-color: #648b3c !important;
  border-color: #648b3c !important;
  color: white !important;
}

.spanBtn {
    text-align: right;
    margin: 0 !important;
}
@media (max-width: 768px) {
   .spanBtn {
    text-align: center;
    margin: 0 !important;
    }
} 
